<div class="row" style="display:flex; justify-content: space-around">
  <nb-card>
    <nb-card-body>
      <h5>Positive cases till today:</h5>
      <h3>{{positiveCases}}</h3>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <h5>Samples reported today:</h5>
      <h3>{{samplesReportedToday}}</h3>
    </nb-card-body>
  </nb-card>
</div>
<div class="row" style="display:flex;">
  <nb-card>
    <nb-card-body>
      <h5>Total individuals tested:</h5>
      <h3>{{totalIndividualsTested}}</h3>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <h5>Positive from samples reported:</h5>
      <h3>{{positiveFromSamplesReported}}</h3>
    </nb-card-body>
  </nb-card>

  
</div>
